body {
  margin: 0;
  background-color: #0f0e17;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  margin:	0% 0% 0% 0%;
  padding: 0;
  }

#nav {
 background-color: #ff8906; 
 
}

#jammming-h1 {
  color: white;
  text-align: center;
  padding: 20px;
  font-family: 'Pacifico', cursive;
  font-size: 35px;
  font-weight: 400;
}

